/* Navbar */
#navbar {
    padding: 30px;
    position: fixed;
    z-index: 8;
    background: white;
    box-shadow: 1px 0px 13px -2px rgba(143, 127, 127, 0.68);
    -webkit-box-shadow: 1px 0px 13px -2px rgba(143, 127, 127, 0.68);
    -moz-box-shadow: 1px 0px 13px -2px rgba(143, 127, 127, 0.68);
    width: 100%;
}

.navbar-logo img {
    width: 75%;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu ul li {
    font-size: 1em;
    margin: 0 20px;
}

.navbar-menu ul li a {
    color: black;
    text-transform: uppercase;
    display: inline-block;
    transition-property: transform;
    transition: 0.25s ease;
}

.navbar-menu ul li a::after {
    content: '';
    border-top: 1px solid #fe7250;
    width: 100%;
    position: absolute;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.25s linear;
}

.navbar-menu ul li a:hover {
    transform: scale(1);
    color: #fe7250;
}

.navbar-menu ul li a:hover::after {
    transform: rotate(0deg);
}

.navbar-search {
    border: 1px solid #E1E1F0;
    padding: 15px;
    border-radius: 29px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.navbar-search input {
    border: 1px solid #fff;
    font-size: 1em;
    margin-left: 20px;
}

input[type=text]:focus {
    border: 1px solid #fff;
}


.navbar-icons i {
    font-size: 1.2rem;
    margin: 0 7px;
    cursor: pointer;
    color: black;
}

.navbar-icons i:hover {
    color: #fe7250;
    transition: .3s ease;
}

.navbar-search select {
    border: none;
    font-size: 1em;
    margin-left: 20px;
    width: 40%;
    color: gray;
}

#nav-toggle {
    position: absolute;
    top: -160px;
}

.icon-burger {
    display: none;
    margin: 37px 0 0 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon-burger .fas {
    font-size: 30px;
    color: #D4C1DE;
    border: 1px solid #D4C1DE;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Header */

#header {
    background-image: url(../img/header-bg.jpg);
    height: 700px;
    position: relative;
    background-size: cover;
    background-position-y: 100px;
    background-repeat: no-repeat;
}

.header-content {
    position: absolute;
    top: 33%;
}

.header-content span {
    font-size: 1.2em;
    letter-spacing: 2px;
    color: gray;
}

.header-content h3 {
    font-size: 5em;
    letter-spacing: 2px;
    margin: 30px 0;
    font-weight: 500;
}

.header-content h4 {
    font-size: 1.5em;
    font-weight: 400;
    width: 64%;
    color: #2d2d2d;
    line-height: 1.3em;
}

.header-btn {
    padding: 13px 40px;
    font-size: 1em;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    transition: .5s ease;
    line-height: 9em;
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
}

.header-btn:hover {
    background: black;
    color: white;
}



/* Category */

.category {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category-item {
    position: relative;
    margin: 20px;
    overflow: hidden;
}


.category-item img {
    width: 100%;
    transition: .7s linear;

}

.category-item img:hover {
    transform: scale(1.15);
}


.category-text {
    position: absolute;
    left: 7%;
    bottom: 11%;
}

.category-text h4 {
    font-size: 1.7em;
    letter-spacing: 2px;
    font-weight: 500;
}

.category-text span {
    font-size: 0.9em;
    letter-spacing: 2px;
}

/* Sales */

#sales {
    padding: 40px 20px;
}

.sales-title {
    text-align: center;
    padding: 2.5em;
}

.sales-title h2 {
    color: #222222;
    font-size: 3em;
    font-weight: 600;
}

.sales-title span {
    font-size: 1.4em;
    font-weight: 500;
    color: #666;
    line-height: 3em;
}

.sales-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 27px;
}

.sales-item {
    position: relative;
    cursor: pointer;
}

.sales-item img {
    width: 100%;
}

.sales-item h6 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin: 13px;
}

.sales-item h6:hover {
    color: #fe7250;
}

.sales-item p {
    font-size: 15px;
    font-weight: 700;
    color: #fe7250;
    text-align: center;
}


.sales-circles {
    display: none;
    position: absolute;
    bottom: 36%;
    left: 22%;
}

.sales-circles i {
    padding: 14px;
    background: white;
    border-radius: 50%;
    color: black;
    text-align: center;
    margin: 0 4px;
    transition: .5s ease;
}

.sales-circles i:hover {
    background: #fe7250;
    color: white;
}

.sales-item:hover .sales-circles {
    display: block;
}

/* Banner */

#banner {
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}

#banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-content h2 {
    font-size: 4em;
    width: 68%;
}


.banner-content p {
    font-size: 1.5em;
    letter-spacing: 1px;
    width: 50%;
    margin: 30px 0 -9px 0;
}


/* Shop Page */

/* Story */

#story {
    padding: 40px;
    height: 356px;
    display: flex;
    align-items: end;
    margin-bottom: 24px;
}

.story {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.story-item {
    text-align: center;
    position: relative;
}

.story-item img {
    height: 78%;
    width: 77%;
    object-fit: cover;
    border-radius: 50%;
    transition: .7s linear;
}

.story-item img:hover {
    transform: scale(1.15);
}

.story-item p {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    letter-spacing: 2px;
}

/* Shop */
.shop-filter button {
    padding: 9px 21px;
    border: 1px solid black;
    background: white;
    font-size: 17px;
    cursor: pointer;
    transition: .2s ease all;
    letter-spacing: 2px;
    margin-left: 32px;
}

.shop-filter button i {
    margin-right: 6px;
}

.shop-filter button:hover {
    background: #fe7250;
    border: 2px solid #fe7250;
}

.shop-top {
    width: 95%;
}

.checkbox {
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #1E2235;
    --tick: #fff;
    position: relative;
}

.checkbox input,
.checkbox svg {
    width: 21px;
    height: 21px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    -webkit-box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}

.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}

.checkbox input:checked {
    --b: var(--border-active);
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
    --s: 2px;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.checkbox.path input:checked+svg {
    --a: 16.1 86.12;
    --o: 102.22;
}

.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    -webkit-transition: stroke-dasharray .6s, stroke-dashoffset .6s;
    transition: stroke-dasharray .6s, stroke-dashoffset .6s;
}

.checkbox.bounce {
    --stroke: var(--tick);
}

.checkbox.bounce input:checked {
    --s: 11px;
}

.checkbox.bounce input:checked+svg {
    -webkit-animation: bounce .4s linear forwards .2s;
    animation: bounce .4s linear forwards .2s;
}

.checkbox.bounce svg {
    --scale: 0;
}

@-webkit-keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.filterCol-3 {
    display: none;
}

.filterCol-9 {
    width: 100%;
}

.filter-item {
    padding: 31px;
}

.filter-title {
    position: relative;
    border-left: 3px solid #111;
    padding: 7px 13px;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.filter-title::after {
    content: "";
    border-bottom: 1px solid #e6e6e6;
    width: 61%;
    position: absolute;
    top: 50%;
    left: 49%;
}

.filter-elements ul {
    list-style: none;
}

.filter-elements ul li {
    padding: 16px 0 0 30px;
    font-size: 1em;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
}

.filter-elements ul li input {
    cursor: pointer;
    margin-right: 17px;
}

.brend-search {
    width: 62%;
    padding: 9px 12px;
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 33px;
}

/* Contact Page */

/* Contact */

#contact {
    height: 700px;
    display: flex;
    align-items: end;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-info {
    color: #969696;
    line-height: 24px;
    width: 84%;
}

.contact-info p {
    margin: 30px 0;
}

.contact-content {
    padding: 40px;
}

.contact-content h4 {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1.4em;
    color: black;
}

.contact-email {
    margin: 27px 0;
    font-size: 36px;
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid black;
    line-height: 4em;
}

.contact-icons i {
    padding: 11px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1.3em;
    width: 45px;
    text-align: center;
    margin: 30px 7px 0 0;
    background: white;
    color: black;
    transition: .3s ease;

}

.contact-icons i:hover {
    background: #fe7250;
    color: white;
    border: 1px solid #fe7250;
    cursor: pointer;
}

/* Form */

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    width: 65%;
    margin: 0 auto;
    gap: 30px 115px;
}

.form-title {
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 1px;
    color: #212529;
    margin: 59px 0px 14px 0;

}

.form-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
    width: 80px;
    height: 1px;
    background: #fe7250;
}

.form-message {
    grid-row: 3/4;
    grid-column: 1/3;
}

.form-btn {
    grid-row: 4/5;
    grid-column: 1/3;
}

.form p span {
    color: #fe7250;
}

.form input,
.form textarea {
    padding: 12px;
    width: 98%;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}

.form textarea {
    font-size: 1.4em;
    width: 100%;
}

.form p {
    margin: 13px 0px;
}

.form-btn {
    display: flex;
    justify-content: center;
}

.form-btn button {
    padding: 13px 40px;
    font-size: 1em;
    background: black;
    cursor: pointer;
    transition: .5s ease;
    margin: 50px 0;
    border: none;
    color: white;
    letter-spacing: 2px;
}

.form-btn button:hover {
    background: #fe7250;
}

/* Single Page */


#product {
    line-height: 1.5;
    height: 765px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 90%;
    margin: 0 auto;
}
#product img{
    width: 100%;
    display: block;
}

.product-display{
    overflow: hidden;
}

.product-imgs{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.product-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.product-showcase img{
    min-width: 100%;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product-item:nth-child(1),
.product-item:nth-child(2),
.product-item:nth-child(3){
    margin-right: 10px;
}

.product-item:nth-child(2){
    margin: 10px 10px 10px 0;
}
.product-item:hover{
    opacity: 0.8;
}
.product-content {
    padding: 0rem 3rem;
  
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin-bottom: 1rem;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
    margin-bottom: 16px;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    color: #fe7250;
}
.product-price p{
    font-weight: 400;
}
.product-detail p{
    font-size: 1.1rem;
    padding: 26px 0;
    opacity: 0.7;
    letter-spacing: 1px;
    line-height: 1.7rem;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}