:root {
    --main-color: #eb2f06;
    --sec-color: #F79F1F
}

.section-padding {
    padding-top: 90px;
    padding-bottom: 60px
}

.main-heading {
    position: relative;
    overflow: hidden
}

.main-heading h2 {
    font-size: 90px;
    color: #333;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    transition: .7s ease
}

.main-heading:not(.about-main-heading) h2 {
    text-align: center
}

.main-heading.about-main-heading {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content
}

.main-head-animation {
    letter-spacing: 60px !important;
    opacity: 0
}

.main-heading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 30px;
    color: var(--main-color);
    text-overflow: ellipsis;
    white-space: nowrap
}

.main-btn {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    box-shadow: inset 0 0 0 2px var(--main-color);
    color: var(--main-color);
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
    transition: .3s ease-in
}

.main-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .3s ease-in
}

.main-btn:hover {
    color: #fff
}

.main-btn:hover::before {
    width: 100%
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

body {
    position: relative;
    font-family: pt sans, sans-serif;
    overflow-x: hidden;
    background-color: #111;
    padding-top: 90px
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    width: 100%;
    z-index: 1000;
    transition: padding .5s ease-out;
    box-shadow: 0 .125rem .25rem #ffffff20
}

.header-sliding {
    padding: 10px 0
}

nav {
    padding: 5px 0 !important
}

header .menu-toggle-btn {
    position: relative;
    width: 35px;
    height: 30px;
    padding: 0;
    background-color: none;
    border: none
}

header .menu-toggle-btn:focus {
    box-shadow: none
}

header .menu-toggle-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #fff;
    transition: transform .4s ease-out
}

header .menu-toggle-btn.collapsed span:nth-child(1) {
    top: 5px
}

header .menu-toggle-btn.collapsed span:nth-child(2) {
    top: calc(50% - 1px)
}

header .menu-toggle-btn.collapsed span:nth-child(3) {
    top: calc(100% - 7px)
}

header .menu-toggle-btn:not(.collapsed) span:nth-child(1) {
    top: calc(50% - 1px);
    transform: rotate(135deg)
}

header .menu-toggle-btn:not(.collapsed) span:nth-child(2) {
    opacity: 0
}

header .menu-toggle-btn:not(.collapsed) span:nth-child(3) {
    top: calc(50% - 1px);
    transform: rotate(-135deg)
}

header nav .navbar-brand {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 60px;
    transition: .4s ease
}

header nav .navbar-brand:hover {
    color: var(--main-color)
}

header nav ul li a.nav-link {
    position: relative;
    color: #fff;
    font-weight: 700
}

header nav ul li a.nav-link:hover,
header nav ul li a.nav-link.active {
    color: var(--main-color)
}

header nav ul li a.nav-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    border-width: 0;
    border-top-color: var(--main-color);
    transition: .3s ease-in
}

header nav ul li a.nav-link:hover::before,
header nav ul li a.nav-link.active::before {
    border-width: 5px
}

.carousel-item {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    height: 100%;
}

.carousel {
    width: 100vw;
    height: calc(100vh - 90px);
}

.home-content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
}

.carousel-inner {
    position: relative;
}

.home-content canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.home-content .home-text {
    color: #fff;
    margin-left: 70px;
}

.home-content .home-text p.intro {
    position: relative;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    z-index: 1
}

.home-content .home-text p.intro::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: .5;
    z-index: -1
}

.home-content .home-text p.name {
    font-size: 35px;
    margin-bottom: 0
}

.home-content .home-text p.name span {
    color: var(--main-color)
}

.home-content .home-text h1 {
    font-size: 65px;
    font-weight: 700
}

.home-content .ah-words-wrapper::after {
    background-color: var(--main-color) !important
}

.home-content .home-text .home-social a {
    width: 40px;
    height: 40px;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--main-color);
    margin: 0 5px;
    transition: .2s ease-in;
    z-index: 10;
    text-decoration: none;
}

.home-content .home-text .home-social a:hover {
    background-color: var(--main-color);
    color: #fff
}

.about {
    background-color: #1b1c1f
}

.about .container .image {
    position: relative;
    flex-basis: 50%;
    height: fit-content;
    padding: 10px;
    background-color: #444;
    max-width: 400px;
    margin-right: 50px;
    border-radius: 10px;
    z-index: 1
}

.about .container .image::before,
.about .container .image::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--sec-color);
    opacity: .5;
    border-radius: 10px;
    z-index: -1
}

.about .container .image::after {
    bottom: -30px;
    right: -30px
}

.about .container .image::before {
    top: -30px;
    left: -30px
}

.about .container .image img {
    z-index: 2
}

.about .container .image .movable-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px
}

.about .container .image .movable-border span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 100px;
    background-color: var(--sec-color);
    z-index: -1;
    animation: about-border 8s linear infinite
}

@keyframes about-border {
    from {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

.about .container .image img {
    border-radius: 10px
}

.about .about-content {
    color: #fff;
    flex-basis: 50%
}

.about .about-content .about-text {
    margin-top: 10px;
    line-height: 1.7;
    color: #ccc;
    margin-top: 20px
}

.about .about-content .about-info ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px
}

.about .about-content .about-info ul li {
    flex-basis: calc(50% - 20px);
    display: flex;
    color: #eee;
    padding: 10px 0;
    font-size: 18px
}

.about .about-content .about-info ul li span {
    display: block;
    min-width: 70px;
    color: var(--main-color)
}

.services {
    background-color: #0f1013
}

.services .services-field .serv-cont {
    background-color: #1b1c1f;
    border-radius: 10px;
    color: #fff;
    transition: .2s linear;
    box-shadow: 2px 2px 10px 1px #88888840, inset 3px 3px 3px 1px #96969640
}

.services .services-field .serv-cont:hover {
    margin-top: -5px
}

.services .services-field .serv-cont .icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #1b1c1f;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px 1px #96969640
}

.services .services-field .serv-cont .icon i {
    transform: rotate(-45deg);
    font-size: 22px;
    color: var(--sec-color)
}

.services .services-field .serv-cont h3 {
    color: var(--main-color);
    font-weight: 700
}

.services .services-field .serv-cont p {
    color: #eee
}

.resume {
    background-color: #1b1c1f
}

.resume .resume-field .resume-content {
    position: relative;
    color: #fff;
    padding-left: 70px
}

.resume .resume-field .resume-content::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 25px;
    height: calc(100% - 50px);
    width: 1px;
    background-color: #555
}

.resume .resume-field .resume-content .res-head {
    margin-left: -70px
}

.resume .resume-field .resume-content .res-head i {
    line-height: 50px;
    margin-right: 15px;
    font-size: 40px;
    color: var(--main-color)
}

.resume .resume-field .resume-content .res-head h3 {
    line-height: 50px
}

.resume .resume-field .resume-content .res-text {
    position: relative;
    background-color: #0f1013;
    padding: 15px 15px 15px 30px;
    border-radius: 5px;
    margin-bottom: 25px
}

.resume .resume-field .resume-content .res-text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
    height: 25px;
    background-color: #0f1013;
    border-bottom-left-radius: 5px
}

.resume .resume-field .resume-content .res-text span.res-circle {
    position: absolute;
    top: 50%;
    left: -44.5px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: .1s linear
}

.resume .resume-field .resume-content .res-text:hover span.res-circle {
    background-color: var(--sec-color);
    border: 2px solid var(--main-color)
}

.resume .resume-field .resume-content .res-text h4 {
    color: var(--sec-color);
    margin-bottom: 0
}

.resume .resume-field .resume-content .res-text span.date {
    display: inline-block;
    padding: 5px 15px;
    margin: 12px 0;
    font-weight: 600;
    background: linear-gradient(to left, var(--main-color), var(--sec-color));
    border-radius: 5px
}

.resume .resume-field .resume-content .res-text p.info {
    color: #eee;
    line-height: 1.8;
    margin-bottom: 0
}

.skills {
    background-color: #0f1013
}

.skills .skill-field .skill-piece {
    margin-bottom: 30px
}

.skills .skill-field .skill-piece p.name {
    font-size: 18px;
    font-weight: 600;
    color: #fff
}

.skills .skill-field .skill-piece .skill-loader {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #212121;
    box-shadow: inset 0 0 5px 1px #888;
    border-radius: 20px
}

.skills .skill-field .skill-piece .skill-loader span.loader-liquid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    border-radius: 20px;
    transition: 1s ease
}

.skills .skill-field .skill-piece .skill-loader span.loader-liquid::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: var(--sec-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    transform: rotate(45deg) scale(1.3)
}

.skills .skill-field .skill-piece .skill-loader span.loader-value {
    position: absolute;
    left: 0;
    top: -43px;
    margin-left: -10px;
    transform: translateX(-50%);
    color: #eee;
    background-color: #1b1c1f;
    padding: 2px 8px;
    border-radius: 5px;
    transition: 1s ease
}

.skills .skill-field .skill-piece .skill-loader span.loader-value::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #1b1c1f
}

.portfolio {
    background-color: #1b1c1f
}

.portfolio .prog-filter {
    padding: 10px 0
}

.portfolio .prog-filter ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.portfolio .prog-filter ul li {
    padding: 5px 15px;
    color: var(--sec-color);
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 17px
}

.portfolio .prog-filter ul li:hover,
.portfolio .prog-filter ul li.active {
    background-color: var(--main-color);
    color: #fff
}

.portfolio .port-field a {
    border-radius: 10px;
    overflow: hidden
}

.portfolio .port-field a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    opacity: 0;
    transition: .4s ease-in-out
}

.portfolio .port-field a:hover::before {
    opacity: 1
}

.portfolio .port-field a .port-disc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff
}

.portfolio .port-field a .port-disc span {
    position: absolute;
    background-color: var(--main-color);
    transform: scale(0);
    transition: .5s ease
}

.portfolio .port-field a:hover .port-disc span {
    transform: scale(1);
    transition-delay: .4s
}

.portfolio .port-field a .port-disc span:nth-of-type(1) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%
}

.portfolio .port-field a .port-disc span:nth-of-type(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%
}

.portfolio .port-field a .port-disc span:nth-of-type(3) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px
}

.portfolio .port-field a .port-disc span:nth-of-type(4) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px
}

.portfolio .port-field a .port-disc i {
    color: var(--sec-color);
    font-size: 40px;
    margin-bottom: 15px;
    opacity: 0
}

.portfolio .port-field a:hover .port-disc i {
    transform: rotate(360deg);
    opacity: 1;
    transition: .5s ease-in;
    transition-delay: .3s
}

.portfolio .port-field a .port-disc h4 {
    color: #fff;
    font-size: 28px;
    margin-bottom: -40px;
    opacity: 0
}

.portfolio .port-field a:hover .port-disc h4 {
    margin-bottom: 0;
    opacity: 1;
    transition: .5s ease;
    transition-delay: .4s
}

.portfolio .port-field a .port-disc p.type {
    color: #dedede;
    font-weight: 600;
    font-size: 18px;
    margin-top: -20px;
    opacity: 0
}

.portfolio .port-field a:hover .port-disc p.type {
    margin-top: 0;
    opacity: 1;
    transition: .7s ease;
    transition-delay: .4s
}

.counter {
    position: relative;
    background-color: #0f1013;
    border-radius: 150px
}

.counter:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1c1f;
    z-index: -1
}

.counter .counter-area i {
    font-size: 40px;
    color: var(--sec-color)
}

.counter .counter-area span {
    font-size: 50px;
    font-weight: 700;
    color: var(--main-color)
}

.counter .counter-area>div {
    margin: 10px 0
}

.counter .counter-area h4 {
    font-size: 20px;
    color: #eee
}

.reviews {
    background-color: #1b1c1f
}

.reviews .review-field .review-swiper-image {
    overflow: hidden
}

.reviews .review-field .review-swiper-text {
    overflow: hidden
}

.reviews .review-field .review-swiper-image .swiper-slide {
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: fit-content
}

.reviews .review-field .review-swiper-image .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080
}

.reviews .review-field .review-swiper-image .swiper-slide.swiper-slide-active {
    border: 2px solid #ddd
}

.reviews .review-field .review-swiper-image .swiper-slide.swiper-slide-active::before {
    display: none
}

.reviews .review-field .review-swiper-text .swiper-slide {
    width: 100%;
    z-index: 1
}

.reviews .review-field .review-swiper-text .client-info {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px
}

.reviews .review-field .review-swiper-text .client-info .review-head img.text-slider-image {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 20px
}

.reviews .review-field .review-swiper-text .client-info .review-head .rev-box>i {
    font-size: 50px;
    color: #555
}

.reviews .review-field .review-swiper-text .client-info .review-head h4 {
    font-size: 30px;
    font-weight: 600
}

.reviews .review-field .review-swiper-text .client-info .rating {
    color: var(--sec-color)
}

.reviews .review-field .review-swiper-text .client-info q {
    display: block;
    width: 100%;
    line-height: 1.8;
    color: #aaa;
    padding-top: 20px
}

.reviews .review-field .review-swiper-text .client-info .review-dates {
    color: #888
}

.reviews .review-field .review-swiper-text .client-info .review-dates span {
    color: var(--main-color)
}

.reviews .review-field .review-swiper-text .client-info q::before,
.reviews .review-field .review-swiper-text .client-info q::after {
    display: none
}

.reviews .review-field .review-swiper-text .swiper-slide {
    position: relative;
    background-color: #1b1c1f
}

.reviews .review-field .review-swiper-text .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content
}

.reviews .review-field .review-swiper-text .swiper-pagination span {
    width: 35px;
    height: 15px;
    border-radius: 20px;
    background-color: var(--sec-color);
    transition: .5s ease
}

.reviews .review-field .review-swiper-text .swiper-pagination span:hover {
    background-color: var(--main-color);
    opacity: 1
}

.reviews .review-field .review-swiper-text .swiper-button-next {
    position: absolute;
    top: unset;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px
}

.reviews .review-field .review-swiper-text .swiper-button-next::after {
    content: '\f061';
    font-family: "font awesome 5 free";
    font-weight: 900;
    font-size: 30px
}

.reviews .review-field .review-swiper-text .swiper-button-prev {
    position: absolute;
    top: unset;
    bottom: 0;
    left: unset;
    right: 80px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px;
    margin-right: 20px
}

.reviews .review-field .review-swiper-text .swiper-button-prev::after {
    content: '\f060';
    font-family: "font awesome 5 free";
    font-weight: 900;
    font-size: 30px
}

.reviews .review-field .review-swiper-text .swiper-button-next:hover::after,
.reviews .review-field .review-swiper-text .swiper-button-prev:hover::after {
    color: var(--sec-color)
}

.blog {
    background-color: #0f1013
}

.blog .blog-field {
    color: #fff
}

.blog .blog-field .blog-content {
    box-shadow: 0 0 10px 1px #88888899;
    border-radius: 5px;
    overflow: hidden
}

.blog .blog-field .blog-content .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    opacity: 0;
    transition: .4s linear;
    z-index: 1
}

.blog .blog-field .blog-content .image:hover::before {
    opacity: 1
}

.blog .blog-field .blog-content .image img {
    transition: .3s ease-in
}

.blog .blog-field .blog-content .image:hover img {
    transform: rotate(5deg) scale(1.15)
}

.blog .blog-field .blog-content .image span.blog-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0f1013;
    padding: 0 5px 0 15px;
    line-height: 40px;
    border: none;
    color: #fff;
    z-index: 5
}

.blog .blog-field .blog-content .image span.blog-title::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-left: 12px solid #0f1013;
    border-right: 12px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #0f1013
}

.blog .blog-field .blog-content .blog-head {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 600
}

.blog .blog-field .blog-content .blog-text {
    color: #ccc
}

.blog .blog-field .blog-content .blog-links .blog-rating>a {
    color: #888;
    font-weight: 700
}

.blog .blog-field .blog-content .blog-links .blog-rating>a:hover {
    color: var(--main-color)
}

.blog .blog-field .blog-content .blog-links .blog-rating>a::before {
    font-family: "font awesome 5 free";
    font-weight: 400;
    padding-right: 5px
}

.blog .blog-field .blog-content .blog-links .blog-rating>a.blog-like::before {
    content: '\f004'
}

.blog .blog-field .blog-content .blog-links .blog-rating>a.blog-comment::before {
    content: '\f086'
}

.blog .blog-field .blog-content .blog-links .more>a {
    display: block;
    padding: 4px 12px;
    background-color: var(--sec-color);
    border-radius: 5px;
    color: #fff
}

.blog .blog-field .blog-content .blog-links .more>a:hover {
    background-color: var(--main-color)
}

.contact {
    background-color: #1b1c1f
}

.contact .contact-field {
    background-color: #0f1013
}

.fancybox__content {
    padding: 10px
}

.contact .contact-field .contact-info-field {
    text-align: center;
    color: #fff
}

.contact .contact-field .contact-info-field .location h5 a {
    padding-left: 5px;
    color: var(--main-color);
    transition: .3s ease
}

.contact .contact-field .contact-info-field .location h5 a:hover {
    padding-left: 10px
}

.contact .contact-field .contact-info-field>div {
    position: relative;
    padding: 20px 0;
    z-index: 1
}

.contact .contact-field .contact-info-field>div:not(:last-child) {
    border-bottom: 1px solid var(--main-color)
}

.contact .contact-field .contact-info-field>div>i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 50px;
    color: var(--main-color);
    padding-right: 10px;
    z-index: -1;
    opacity: .5
}

.contact .contact-field .contact-info-field>div>.text span {
    z-index: 1
}

.contact .contact-field .contact-info-field>div>a,
.contact .contact-field .contact-info-field>div>address {
    color: var(--sec-color);
    font-weight: 700
}

.contact .contact-field .contact-info-field>div>a:hover {
    color: var(--main-color)
}

.contact .contact-field .contact-info-field>div.social .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--sec-color);
    color: var(--sec-color);
    border-radius: 10px;
    transform: rotate(45deg);
    transition: .4s ease
}

.contact .contact-field .contact-info-field>div.social .social-links a:hover {
    background-color: var(--sec-color);
    color: var(--main-color)
}

.contact .contact-field .contact-info-field>div.social .social-links a i {
    transform: rotate(-45deg);
    font-size: 18px
}

.contact .contact-field .contact-form-field form>div input,
.contact .contact-field .contact-form-field form>div textarea {
    outline: none;
    background-color: #222;
    color: #eee;
    border: none
}

.contact .contact-field .contact-form-field form>div textarea {
    height: 200px;
    resize: vertical
}

.contact .contact-field .contact-form-field form button[type=submit] {
    padding: 10px 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background-color: transparent;
    transition: .3s linear
}

.contact .contact-field .contact-form-field form button[type=submit]:hover {
    background-color: var(--main-color);
    color: #fff
}

.contact .contact-field .contact-form-field form p.contact-message {
    display: none;
    padding: 8px;
    text-align: center;
    color: #fff;
    background-color: #444;
    font-size: 18px
}

footer {
    background-color: #000;
    color: #aaa;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px
}

footer p.copy {
    color: #eee;
    font-size: 16px
}

footer .addition-links a {
    color: #eee;
    font-size: 16px
}

footer a:hover {
    color: var(--main-color) !important
}

footer .addition-links span {
    display: inline-block;
    transform: translateY(5px);
    width: 1px;
    height: 20px;
    background-color: #eee
}

.fancy-cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1070;
    width: 5px;
    margin-top: -2.5px;
    margin-left: -2.5px;
    pointer-events: none;
    height: 5px;
    background-color: var(--sec-color);
    border-radius: 50%;
    transition: width .2s linear, height .2s linear, margin .2s linear, opacity .2s linear
}

.fancy-cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1070;
    width: 30px;
    margin-top: -15px;
    margin-left: -15px;
    pointer-events: none;
    height: 30px;
    border: 2px solid var(--sec-color);
    border-radius: 50%
}

.hover-cursor {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    opacity: .5
}

.modal .modal-dialog {
    max-width: 850px !important;
    margin: auto
}

.modal .modal-dialog .modal-content {
    height: 80vh !important;
    margin-top: 10vh;
    overflow: auto;
    padding: 25px;
    background-color: #222;
    color: #eee;
    z-index: 1010
}

.modal-content::-webkit-scrollbar {
    width: 8px
}

.modal-content::-webkit-scrollbar-track {
    background: #222
}

.modal-content::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px
}

.modal .modal-header {
    border-bottom: 0
}

.modal .modal-header .btn-close {
    position: absolute;
    background: unset;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    color: #fff !important;
    background-color: transparent !important;
    opacity: 1;
    border-radius: 50%;
    transition: .5s ease
}

.modal .modal-header .btn-close:focus {
    box-shadow: unset
}

.modal .modal-header .btn-close:hover {
    transform: rotate(180deg)
}

.modal .modal-header .btn-close i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
    font-size: 40px
}

.modal .modal-content span.pop-info {
    position: relative;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--main-color)
}

.modal .modal-content>span.pop-info a {
    position: relative;
    padding-left: 13px;
    margin-left: 5px;
    color: var(--main-color)
}

.modal .modal-content>span.pop-info a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--sec-color)
}

.modal .modal-dialog .modal-content img {
    width: 100%
}

.modal .modal-content .modal-body h3 {
    font-weight: 900;
    color: #fff;
    margin-bottom: 15px
}

.modal .modal-content .modal-body p {
    line-height: 1.8
}

.modal .modal-content .modal-body .blog-quote {
    position: relative;
    background-color: #111;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 5px;
    z-index: 1
}

.modal .modal-content .modal-body .blog-quote::before {
    content: '\f10d';
    font-weight: 900;
    font-family: "font awesome 5 free";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 75px;
    color: #222;
    opacity: .6;
    z-index: -1
}

.modal .modal-content .modal-body .blog-quote q {
    font-size: 17px;
    color: #ddd;
    line-height: 1.9
}

.modal .modal-content .modal-body .blog-quote q::before,
.modal .modal-content .modal-body .blog-quote q::after {
    content: ''
}

.modal .modal-content .modal-footer {
    margin-top: 10px;
    border-top: 0;
    box-shadow: 1px 1px .5px 1px #555
}

.modal .modal-content .modal-footer ul a {
    color: var(--sec-color)
}

.modal .modal-content .modal-footer ul a:hover {
    color: var(--main-color)
}

.modal .modal-content .modal-footer ul a i {
    font-size: 18px
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999
}

.load-splitter {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #111;
    transition: .75s ease;
    transition-delay: .75s;
    z-index: 99999
}

.load-splitter:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: left center
}

.load-splitter:nth-child(2) {
    top: 0;
    left: 50%;
    transform-origin: Right center
}

.loading-end-split {
    transform: scaleX(0)
}

.preloader .loader {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 999999
}

.preloader .loader p.text {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-align: center
}

.preloader .loader p.text span {
    color: var(--main-color)
}

.preloader .loader .loading-bar {
    position: relative;
    width: 500px;
    max-width: 100%;
    height: 10px;
    background-color: #eee;
    overflow: hidden
}

.preloader .loader .loading-bar span {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    animation: loading-bar 1.5s linear infinite
}

@keyframes loading-bar {
    from {
        left: -100%
    }
    to {
        left: 100%
    }
}

html::-webkit-scrollbar {
    width: 8px
}

html::-webkit-scrollbar-track {
    background: #111
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px
}

::selection {
    color: #fff;
    background-color: #2c3e50
}

.team-social a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--main-color);
    margin: 0 5px;
    transition: .2s ease-in;
    z-index: 10;
    text-decoration: none;
}

.team-social a:hover {
    background-color: var(--main-color);
    color: #fff
}

.blog-rating a,
.more a,
.more-blogs a,
.more-projects a,
.pop-info a,
.email a,
.phone a,
.social-links a,
.addition-links a {
    text-decoration: none;
}

div a.scroll-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 999;
    transition: .3s ease;
    margin: 40px;
    text-decoration: none;
}

div a.scroll-top:hover {
    background-color: var(--main-color);
    color: #fff;
}